<link rel="stylesheet" href="/public/bootstrap.css" />

<div class="jumbotron">
    <h1 class="display-4">404 - Not Found</h1>
    <p class="lead"><%= message %></p>
</div>

<script src="/public/jquery-3.3.1.min.js"></script>
<script src="/public/bootstrap.js"></script>