<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Octavian</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@400;600;700;800&display=swap"
        rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let x = {}
        let y = {}
        let z = x
        console.log(x == y)
        console.log(x === y)
        console.log(x == z)
        console.log(x === z)
    </script>
    <link rel="stylesheet" href="../public/index/css/app.css" />
</head>

<body>
    <%- include('include/navbar') %>
        <main>
            <section class="hero">
                <img src="../public/index/images/img1.png" alt="" class="hero-image" />
                <div class="hero-content">
                    <h2 class="hero-caption second-font">creative & digital</h2>
                    <h1 class="hero-heading second-font">Agency</h1>
                    <a href="#" class="hero-link">Purchase Now</a>
                </div>
            </section>
            <section class="portfolio" id="portfolio">
                <div class="container">
                    <div class="portfolio-list">
                        <div class="portfolio-column">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img2.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img3.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img4.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                        </div>
                        <div class="portfolio-column">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img5.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img6.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img7.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img8.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                        </div>
                        <div class="portfolio-column">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img9.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img10.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-image">
                                    <img src="../public/index/images/img11.png" alt="" />
                                </a>
                                <h3>
                                    <a class="portfolio-title title second-font" href="">Campaign of exhibition of
                                        architectural field</a>
                                </h3>
                                <a href="#" class="portfolio-category text--small">Photography</a>
                            </div>
                        </div>
                    </div>
                    <a href="/views/index-git.ejs" class="btn btn--primary portfolio-link"> Get Started </a>
                </div>
            </section>
            <section class="partner" id="partners">
                <div class="container">
                    <div class="partner-main">
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo1.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo2.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo3.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo4.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo5.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo6.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo7.png" alt="" />
                        </a>
                        <a href="#" class="partner-item">
                            <img src="../public/index/images/logo8.png" alt="" />
                        </a>
                    </div>
                </div>
            </section>
            <section class="team" id="team">
                <div class="container">
                    <div class="team-main">
                        <div class="team-content">
                            <h2 class="team-heading heading second-font">
                                Our team will be Happy to help you
                            </h2>
                            <p class="team-desc">
                                Phasellus pulvinar iaculis nunc at placerat. Sed porta
                                sollicitudin eros, vel sagittis turpis consequat nec.
                            </p>
                            <a href="#" class="btn btn--primary">Get Started</a>
                        </div>
                        <div class="team-images">
                            <div class="team-column">
                                <a href="#" class="team-image">
                                    <img src="../public/index/images/team1.png" alt="" />
                                </a>
                                <a href="#" class="team-image">
                                    <img src="../public/index/images/team2.png" class="team-img2" alt="" />
                                </a>
                            </div>
                            <div class="team-column">
                                <a href="#" class="team-image">
                                    <img src="../public/index/images/team3.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog" id="blog">
                <div class="container">
                    <div class="blog-header">
                        <h2 class="blog-heading heading">Take a look at our services</h2>
                        <p class="blog-desc text">
                            Integer eu metus at orci scelerisque rutrum. Vivamus condimentu
                            ipsum vitae iaculis cursus, turpis nisl.
                        </p>
                    </div>
                    <div class="blog-list">
                        <div class="blog-item">
                            <a href="#" class="blog-image">
                                <img src="../public/index/images/blog1.png" alt="" />
                            </a>
                            <h3>
                                <a class="blog-title title" href="">Illustration development basics for
                                    beginners</a>
                            </h3>
                            <a href="#" class="blog-category text--small">Design</a>
                        </div>
                        <div class="blog-item">
                            <a href="#" class="blog-image">
                                <img src="../public/index/images/blog2.png" alt="" />
                            </a>
                            <h3>
                                <a class="blog-title title" href="">Illustration development basics for
                                    beginners</a>
                            </h3>
                            <a href="#" class="blog-category text--small">Design</a>
                        </div>
                        <div class="blog-item">
                            <a href="#" class="blog-image">
                                <img src="../public/index/images/blog3.png" alt="" />
                            </a>
                            <h3>
                                <a class="blog-title title" href="">Illustration development basics for
                                    beginners</a>
                            </h3>
                            <a href="#" class="blog-category text--small">Design</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact" id="contact">
                <div class="container contact-container">
                    <div class="contact-header">
                        <h2 class="contact-heading heading">
                            Contact us to <strong>Grow your Business</strong>
                        </h2>
                        <p class="contact-desc text">
                            Integer eu metus at orci scelerisque rutrum. Vivamus condimentum,
                            ipsum vitae iaculis cursus, turpis nisl ultricies massa.
                        </p>
                    </div>
                    <form action="javascript:void(0);" class="contact-form">
                        <input type="text" class="contact-input contact-field" placeholder="evondev" required />
                        <input type="email" class="contact-input contact-field" placeholder="E.g., a.octavian@gmail.com"
                            required />
                        <textarea class="contact-area contact-field" placeholder="Your message" required
                            minlength="50"></textarea>
                        <button type="submit" class="btn btn--secondary">
                            Send Message
                        </button>
                    </form>
                </div>
            </section>
        </main>
        <%- include('./include/footer') -%>
</body>

</html>