<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version
        </b> 3.1.0
    </div>
    <strong>&copy; Copyright <% let year=(new Date()).getFullYear() %> <a href="https://adminlte.io">Page
                Crawled</a>.</strong>
</footer>

<style>
    .main-footer {
        background-color: #4723D9;
        color: #F7F6FB;
    }

    .main-footer a {
        color: #F7F6FB;
    }

    .main-footer a:hover {
        color: #F7F6FB;
    }

    .main-footer a:active {
        color: #F7F6FB;
    }
</style>